<div class="container" ng-controller='LayoutController'>
  <div class="row">
    <div class="medium-1 show-for-medium-up columns main-section primary-nav">
      <button ng-click=''>
        <img src="public/images/image.png" alt="" />
        <p>Demo</p>
      </button>
      <a ui-sref='layout.recipes'><button ng-click=''>
        <img src="public/images/image.png" alt="" />
        <p>Recipes</p>
      </button></a>
      <button ng-click=''>
        <img src="public/images/image.png" alt="" />
        <p>Cone</p>
      </button>
      <button ng-click=''>
        <img src="public/images/image.png" alt="" />
        <p>Surface</p>
      </button>
    </div>

    <div class="large-4 medium-3 columns main-section secondary-nav">
      <a ui-sref='layout.recipes'><button ng-click=''>
        <p>Recipes</p>
      </button></a><br>
      <button ng-click=''>
        <p>Favorites</p>
      </button><br>
      <button ng-click=''>
        <p>Recently Added</p>
      </button>
    </div>

    <div class="large-7 medium-8 columns main-section content">
      <div class="row">
        <div class="medium-6 columns">
          <p>the glazebook</p>
        </div>
        <div class="medium-4 columns">
          <input type="text" placeholder='Search' name='search'>
          <button type="submit">
            <i clas='fa fa-search'></i>
          </button>
        </div>
        <div class="medium-2 columns">
          <button ng-click='logout()'>Logout</button>
        </div>
      </div>

      <div class="row">
        <div class="medium-12 columns">
          <!-- if there is recipes show recipes
          if there are no recipes show add -->
          <!-- ng-if='' -->
          <div ui-view></div>
        </div>
      </div>
    </div>
  </div>
</div>
