<div class="container" ng-controller='NewController'>

  <div class="row">
    <div class="medium-12 columns">
      <h1>Add a Glaze Recipe</h1>
    </div>

    <div class='medium-12 columns'>
      <form class="" action="/glazes" method="post">
        <div class="row">
          <div class="medium-10 columns">
            <label for="title"><h2>Title</h2></label>
            <input type="text" id='title' required ng-model=''>
          </div>
          <div class="medium-2 columns">
            <label for="favorite"><h2>Fav</h2></label>
            <input type="checkbox" id='favorite' ng-model=''>
            <i class='fa fa-heart-o'></i>
            <i class='fa fa-heart'></i>
          </div>
        </div>

        <div class="row">
          <div class="medium-12 columns">
            <div class="medium-6 columns">
              <div class="row">
                <div class="medium-12 columns">
                  <h3>Firing</h3>
                </div>
                <i class='fa fa-angle-down'></i>
                <i class='fa fa-angle-down'></i>
                <i class='fa fa-angle-down'></i>

                <div class="medium-12 columns">
                  <select id='temp-range' required ng-model=''>
                    <option disabled selected>Temperature Range</option>
                    <option>Low Fire</option>
                    <option>Mid Range</option>
                    <option>High Fire</option>
                  </select>
                </div>

                <div class="medium-12 columns">
                  <select id='cone' required ng-model=''>
                    <option disabled selected>Cone</option>
                    <option>∆ 022</option>
                    <option>∆ 021</option>
                    <option>∆ 020</option>
                    <option>∆ 019</option>
                    <option>∆ 018</option>
                    <option>∆ 017</option>
                    <option>∆ 016</option>
                    <option>∆ 015</option>
                    <option>∆ 014</option>
                    <option>∆ 013</option>
                    <option>∆ 012</option>
                    <option>∆ 011</option>
                    <option>∆ 010</option>
                    <option>∆ 09</option>
                    <option>∆ 08</option>
                    <option>∆ 07</option>
                    <option>∆ 06</option>
                    <option>∆ 05</option>
                    <option>∆ 04</option>
                    <option>∆ 03</option>
                    <option>∆ 02</option>
                    <option>∆ 01</option>
                    <option>∆ 1</option>
                    <option>∆ 2</option>
                    <option>∆ 3</option>
                    <option>∆ 4</option>
                    <option>∆ 5</option>
                    <option>∆ 6</option>
                    <option>∆ 7</option>
                    <option>∆ 8</option>
                    <option>∆ 9</option>
                    <option>∆ 10</option>
                    <option>∆ 11</option>
                    <option>∆ 12</option>
                    <option>∆ 13</option>
                    <option>∆ 14</option>
                    <option>∆ 15</option>
                  </select>
                </div>

                <div class="medium-12 columns">
                  <select id='firing-type' required ng-model=''>
                    <option disabled selected>Type of Firing</option>
                    <option>Oxidation</option>
                    <option>Reduction</option>
                    <option>Raku</option>
                    <option>Salt or Soda</option>
                    <option>Wood</option>
                    <option>Lustre</option>
                    <option>Saggar</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="medium-6 columns">
              <div class="row">
                <div class="medium-12 columns">
                  <h3>Appearance</h3>
                </div>
                <i class='fa fa-angle-down'></i>
                <i class='fa fa-angle-down'></i>
                <i class='fa fa-angle-down'></i>

                <div class="medium-12 columns">
                  <select id='surface' required ng-model=''>
                    <option disabled selected>Surface</option>
                    <option>Shiny or Glossy</option>
                    <option>Semi-Gloss</option>
                    <option>Semi-Matte or Satin</option>
                    <option>Matte</option>
                    <option>Dry Matte</option>
                  </select>
                </div>

                <div class="medium-12 columns">
                  <select id='opacity' required ng-model=''>
                    <option disabled selected>Opacity</option>
                    <option>Transparent</option>
                    <option>Translucent</option>
                    <option>Opaque</option>
                  </select>
                </div>

                <div class="medium-12 columns">
                  <select id='color' required ng-model=''>
                    <option disabled selected>Color</option>
                    <option>No Color</option>
                    <option>White</option>
                    <option>Gray</option>
                    <option>Black</option>
                    <option>Brown</option>
                    <option>Red</option>
                    <option>Orange</option>
                    <option>Yellow</option>
                    <option>Green</option>
                    <option>Blue-Green</option>
                    <option>Blue</option>
                    <option>Purple</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="medium-8 columns">
            <div class="row">
              <div class="medium-9 columns">
                <label for="ingredients"><h3>Base Ingredients</h3></label>
              </div>
              <div class="medium-3 columns">
                <label for="amount"><h3>Amount</h3></label>
              </div>
            </div>
            <div class="row">
              <div class="medium-9 columns">
                <input type='text' id='ingredients' ng-model='')>
              </div>
              <div class="medium-3 columns">
                <input type='text' id='amount' ng-model='')>
              </div>
            </div>
            <div class="row">
              <div class="medium-9 columns">
                <input type='text' id='ingredients' ng-model='')>
              </div>
              <div class="medium-3 columns">
                <input type='text' id='amount' ng-model='')>
              </div>
            </div>
            <div class="row">
              <div class="medium-9 columns">
                <input type='text' id='ingredients' ng-model='')>
              </div>
              <div class="medium-3 columns">
                <input type='text' id='amount' ng-model='')>
              </div>
            </div>
            <div class="row">
              <div class="medium-9 columns">
                <input type='text' id='ingredients' ng-model='')>
              </div>
              <div class="medium-3 columns">
                <input type='text' id='amount' ng-model='')>
              </div>
            </div>
            <div class="row">
              <div class="medium-9 columns">
                <input type='text' id='ingredients' ng-model='')>
              </div>
              <div class="medium-3 columns">
                <input type='text' id='amount' ng-model='')>
              </div>
            </div>
            <div class="row">
              <div class="medium-9 columns">
                <input type='text' id='ingredients' ng-model='')>
              </div>
              <div class="medium-3 columns">
                <input type='text' id='amount' ng-model='')>
              </div>
            </div>
            <div class="row">
              <div class="medium-9 columns">
                <input type='text' id='ingredients' ng-model='')>
              </div>
              <div class="medium-3 columns">
                <input type='text' id='amount' ng-model='')>
              </div>
            </div>
            <div class="row">
              <div class="medium-9 columns">
                <input type='text' id='ingredients' ng-model='')>
              </div>
              <div class="medium-3 columns">
                <input type='text' id='amount' ng-model='')>
              </div>
            </div>
            <div class="row">
              <div class="medium-9 columns">
                <input type='text' id='ingredients' ng-model='')>
              </div>
              <div class="medium-3 columns">
                <input type='text' id='amount' ng-model='')>
              </div>
            </div>
            <div class="row">
              <div class="medium-9 columns">
                <input type='text' id='ingredients' ng-model='')>
              </div>
              <div class="medium-3 columns">
                <input type='text' id='amount' ng-model='')>
              </div>
            </div>
          </div>


          <div class="medium-4 columns">
            <label for="notes"><h3>Notes</h3></label>
            <textarea rows="6" id='notes'></textarea>
          </div>
        </div>

        <div class="row">
          <div class="medium-8 columns">
            <div class="row">
              <div class="medium-9 columns">
                <label for="add-ingredients"><h3>Additional Ingredients</h3></label>
              </div>
              <div class="medium-3 columns">
                <label for="add-amounts"><h3>Amount</h3></label>
              </div>
            </div>

            <div class="row">
              <div class="medium-9 columns">
                <input type='text' id='add-ingredients' ng-model=''>
              </div>
              <div class="medium-3 columns">
                <input type='text' id='add-amounts' ng-model=''>
              </div>
            </div>
            <div class="row">
              <div class="medium-9 columns">
                <input type='text' id='add-ingredients' ng-model=''>
              </div>
              <div class="medium-3 columns">
                <input type='text' id='add-amounts' ng-model=''>
              </div>
            </div>
            <div class="row">
              <div class="medium-9 columns">
                <input type='text' id='add-ingredients' ng-model=''>
              </div>
              <div class="medium-3 columns">
                <input type='text' id='add-amounts' ng-model=''>
              </div>
            </div>
            <div class="row">
              <div class="medium-9 columns">
                <input type='text' id='add-ingredients' ng-model=''>
              </div>
              <div class="medium-3 columns">
                <input type='text' id='add-amounts' ng-model=''>
              </div>
            </div>
            <div class="row">
              <div class="medium-9 columns">
                <input type='text' id='add-ingredients' ng-model=''>
              </div>
              <div class="medium-3 columns">
                <input type='text' id='add-amounts' ng-model=''>
              </div>
            </div>
            <div class="row">
              <div class="medium-9 columns">
                <input type='text' id='add-ingredients' ng-model=''>
              </div>
              <div class="medium-3 columns">
                <input type='text' id='add-amounts' ng-model=''>
              </div>
            </div>
          </div>

          <div class="medium-4 columns">
            <h4>Additional Information</h4>
            <i class='fa fa-angle-drop'></i>
            <i class='fa fa-angle-drop'></i>
            <div class="row">
              <div class="medium-12 columns">
                <select id='specialty' ng-model=''>
                  <option disabled selected>Specialty Glaze</option>
                  <option>Crystalline</option>
                  <option>Metallic</option>
                  <option>Luster</option>
                  <option>Texture</option>
                  <option>Rivulet</option>
                  <option>Slip</option>
                  <option>Stain</option>
                  <option>Engobe</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="medium-12 columns">
                <select id='test-status' ng-model=''>
                  <option disabled selected>Test Status</option>
                  <option>Tested</option>
                  <option>Untested</option>
                  <option>In Progress</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="medium-12 columns">
                <label for="image"><h4>Upload Image</h4></label>
                <input type='file' id='image' ng-model=''>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="medium-12 columns">
            <button><h4>Add New Recipe</h4></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="mediumu-12 columns">
      <p>footer</p>
    </div>
  </div>
</div>





<!---->
