<div class="container" ng-controller='GlazeController'>
  <div class="row">
    <div class="medium-10 columns">
      <h1>All Recipes</h1>
    </div>
    <div class="medium-2 columns">
      <a ui-sref='layout.new'>Add New +</a>
    </div>
  </div>

  <div ng-repeat='glaze in glazes.recipe'>
    <div class="row">
      <!-- <div class="medium-2 columns">
        <a href="#"><img src="#" alt="" /></a>
      </div>
      <div class="medium-9 columns">
        <a ng-click='showRecipe()'><h3>Title</h3></a>
        <p>Temp Range  |  Cone  |  Surface</p>
      </div>
      <div class="medium-1 columns">
        <i class='fa fa-heart'></i>
      </div> -->
      <p>
        hi
      </p>
    </div>
  </div>

  <div class="row footer">
    <footer>hi</footer>
  </div>
</div>
