<div class="container" ng-controller='GlazeController'>
  <div class="row">
    <div class="medium-10 columns">
      <h1>All Recipes</h1>
    </div>
    <div class="medium-2 columns">
      <a ui-sref='layout.new'>Add New +</a>
    </div>
  </div>

  <button ng-click='getGlazes()'>Get Glazes</button>

  <div ng-repeat='val in recipes'>
    <div class="row">
      <div class="medium-2 columns">
        <a href="#"><img src="#" alt="" /></a>
      </div>
      <div class="medium-9 columns">
        <a ng-click='showRecipe()'><h3>{{val.recipe.title}}</h3></a>
        <p>{{val.recipe.tempRange}}&emsp;|&emsp;{{val.recipe.cone}}&emsp;|&emsp;{{val.recipe.surface}}</p>
      </div>
      <div class="medium-1 columns">
        <i class='fa fa-heart'></i>
      </div>
    </div>
  </div>

  <div class="row footer">
    <footer>Footer</footer>
  </div>
</div>
