<div class="container" ng-controller='AccountController'>
  <div class="row">
    <div class="medium-4 medium-push-8 columns">
      <p>Login or Sign Up!</p>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <h1>the glazebook {{1+1}} {{color}}</h1>
      <h2>Join or log in to store, search, and save your ceramic glaze recipes.</h2>
    </div>
  </div>

  <div class="row">
    <div class="medium-4 columns">
      <p>Gif 1</p>
    </div>
    <div class="medium-4 columns">
      <p>Gif 1</p>
    </div>
    <div class="medium-4 columns">
      <p>Gif 1</p>
      <button ng-click='glazes()'>Go to Glazes</button>
    </div>
  </div>
</div>
