<div class="container" ng-controller='AccountController'>
  <div class="row">
    <div class="medium-4 medium-push-8 columns">
      <p>Login or
        <button ng-click='toggleSignUp()'>Sign Up</button>
      </p>
      <form ng-show='signUpForm' ng-submit='signUp()'>
        <label for="username"><h2>Username</h2></label>
        <input type="text" id='username' required ng-model='user.username'>

        <label for="email"><h2>Email Address</h2></label>
        <input type="email" id='email' required ng-model='user.email'>

        <label for="password"><h2>Password</h2></label>
        <input type="password" id='password' required ng-model='user.password'>

        <label for="confirm"><h2>Confirm Password</h2></label>
        <input type="password" id='confirm' required ng-model='user.confirm'>

        <input type="submit" value='Create Account'>
      </form>

      <div ng-repeat='error in errors'>
        <p>{{error}}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-8 columns">
      <h1>the glazebook {{1+1}} {{color}}</h1>
      <h2>Join or log in to store, search, and save your ceramic glaze recipes.</h2>
    </div>
    <div class="medium-4 columns">
      <button>Sample Glazebook</button>
    </div>
  </div>

  <div class="row">
    <div class="medium-4 columns">
      <p>Gif 1</p>
    </div>
    <div class="medium-4 columns">
      <p>Gif 2</p>
    </div>
    <div class="medium-4 columns">
      <p>Gif 3</p>
      <button ng-click='glazes()'>Go to Glazes</button>
    </div>
  </div>
</div>
