<div class="container" ng-controller='GlazeController'>
  <div class="row">
    <div class="medium-9 columns">
      <div class="row">

        <div class="medium-1 columns" ng-show=''>
          <i class='fa fa-heart'></i>
        </div>
        <div class="medium-11 columns">
          <h1>Title</h1>
          <p>{{recipe.title}}</p>
        </div>

      </div>
    </div>
    <div class="medium-3 columns">
      <div class="medium-6 columns">
        <button ng-click='editRecipe()'>
          <i class='fa fa-pencil-square-o'></i>
        </button>
      </div>
      <div class="medium-6 columns">
        <button ng-click='destroyRecipe()'>
          <i class='fa fa-trash-o'></i>
        </button>
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="medium-7 columns">
      <div class="row">
        <div class="medium-12 columns">
          <h3>Base Ingredients</h3>
          <div class="row">
            <div class="medium-8 columns">
              <input type="checkbox" id='val'>
              <label for="val">VAL</label>
              <hr>
            </div>
            <div class="medium-4 columns">
              <input type="checkbox" class='hidden' id='val'>
              <label for="val">VAL</label>
              <hr>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="medium-12 columns">
          <h3>Additional Ingredients</h3>
          <div class="row">
            <div class="medium-8 columns">
              <input type="checkbox" id='val'>
              <label for="val">VAL</label>
              <hr>
            </div>
            <div class="medium-4 columns">
              <input type="checkbox" class='hidden' id='val'>
              <label for="val">VAL</label>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="medium-5 columns">
      <h4>Firing Temperature</h4>
      <h4>Cone</h4>
      <h4>Type of Firing</h4>
      <h4>Surface</h4>
      <h4>Opacity</h4>
      <h4>Color</h4>
      <h4>Specialty Glaze</h4>
      <h4>Test Status</h4>
    </div>
  </div>

  <div class="row">
    <div class="medium-7 columns">
      <h3>Notes</h3>
      <p>Recipe Notes</p>
    </div>
    <div class="medium-5 columns">
      <h3>Image</h3>
    </div>
  </div>

  <div class="row">
    <footer>Footer</footer>
  </div>
</div>








<!---->
